.html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 22px;
}
body {
  background-color: #0a0a28;
  background-image: url("../images/2k_stars.jpg");
  /*parallaxed background image*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: 'Share Tech', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0px;
  margin: 0px;
}

.grid-container2 {
  display: subgrid;
  grid-template-columns: auto auto auto;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.grid-item {
  grid-column-start: 1;
  padding: 0px;
  font-size: 1.6em;
  text-align: center;
  color: white;
}

.grid-item2 {
  grid-column-start: 1;
  /*background-color: rgba(255, 255, 255, 0.5);*/
  font-size: 1em;
  width: 100%;
  text-align: center;
  color: white;
}
.grid-item2 h3 {
  margin: 10px;
}
/* Need Absolute Items here ie. site logo and navigation */

.header-section {
  background: url("") 50% no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.header-section .header-section-text {
  color: #fefefe;
  text-shadow: 2px 2px 4px #521ad8;
}

.header-section .header-section-text h1 {
  margin: 0px;
}

.intro {
  background: linear-gradient(to bottom right, #222223, #0b0b51);
  padding-top: 100px;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 100px;
}

.marketing {
  margin-top: 100px;
  margin-bottom: 100px;
}

.flex-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  /*border-style: solid; for debug */
  align-items: center;
  justify-content: center;
}
#p1 {
  background-image: url("../images/planet1.png");
  background-repeat: repeat-x;
  background-size: cover;
  box-shadow: 0 0 30px 4px
  rgba(15, 189, 255, 0.75);
  animation: translateBackground 10s infinite linear;
}
#p2 {
  background-image: url(../images/planet2.png);
  background-repeat: repeat-x;
  background-size: cover;
  box-shadow: 0 0 30px 4px
  rgba(15, 189, 40, 0.75);
  animation: translateBackground 35s infinite linear;
}
#p3 {
  background-image: url(../images/planet3.png);
  background-repeat: repeat-x;
  background-size: cover;
  box-shadow: 0 0 40px 6px
  rgba(15, 35, 180, 0.75);
  animation: translateBackground 10s infinite linear;
}

.flex-container .card {
  padding: 8px;
  margin: 20px;
  width: 200px;
  height: 200px;
  line-height: 1;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  text-shadow: 4px 4px 12px #000000, -4px -4px 12px #000000, -4px 4px 12px #000000, 4px -4px 12px #000000;
  flex: 0 0 200px;
  border-radius: 50%;
}

.flex-container .card i {
  font-size: 1.8em;
}
.flex-container .card h3 {
  margin: 5px;
}
.flex-container .card p {
  font-size: 0.8em;
}

.flex-column {
  display: flex;
  flex-wrap: nowrap;
  width: 50vw;
  flex-direction: column;
  border-style: solid;/* for debug */
  align-items: center;
  justify-content: center;
}

.flex-container .flex-item {
  margin-top: 100px;
  margin-bottom: 100px;
  align-items: center;
  flex-wrap: nowrap;
  flex-basis: 100vw;
  justify-content: center;
}
.skills {
  background: linear-gradient(to bottom right, #222223, #0b0b51);
  align-items: center;
  padding: 50px;
}
/* Container for skill bars */
.container {
  width: 100%;
  background-color: #ddd; /* Grey background */
  border-radius: 15%;
}

.skillbox {
  font-size: 0.8em;
  text-align: right;
  padding-right: 20px;
  line-height: 40px;
  color: white;
  border-radius: 15%;
}

.html {width: 75%; background-color: #4CAF50;} /* Green */
.css {width: 75%; background-color: #2196F3;} /* Blue */
.js {width: 50%; background-color: #f44336;} /* Red */
.php {width: 25%; background-color: #808080;} /* Dark Grey */

#stretch {
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 40vh;
  flex-basis: 45vw;
  /* background: url("") 50% no-repeat;
  background-size: cover;*/
}

.flex-container .flex-item p {
  font-size: 1em;
  flex-basis: 45vw;
  flex-wrap: wrap;
}

.asteroids {
  position: absolute;
  overflow: hidden;
  top: 0vh;
  left: 0vw;
  height: 99vh;
  width: 99vw;
  z-index: 1;
}
.asteroid:first-of-type {
  background-image: url("../images/cc0-asteroid-4.png");
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  height: 10vh;
  width: 8vw;
  top: -10vh;
  left: -10vw;
  animation: floatse 20s linear infinite;
  animation-delay: 20s;
}
.asteroid:nth-of-type(2) {
  background-image: url("../images/cc0-asteroid-3.png");
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  height: 14vh;
  width: 10vw;
  top: 110vh;
  left: -10vw;
  animation: floatne 22s linear infinite;
  animation-delay: 4s;
}
.asteroid:nth-of-type(3) {
  background-image: url("../images/cc0-asteroid-2.png");
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  height: 5vh;
  width: 4vw;
  top: 50vh;
  left: 105vw;
  animation: floatnw 25s linear infinite alternate;
  animation-delay: 12s;
}
.asteroid:nth-of-type(4) {
  background-image: url("../images/cc0-asteroid-4.png");
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  height: 5vh;
  width: 4vw;
  top: 105vh;
  left: 75vw;
  animation: floatsw 35s linear infinite alternate;
  animation-delay: 28s;
}
@keyframes floatse {
  0% {
    top: -10vh;
    left: -10vw;
    transform: rotate(0);
  }
  100% {
    top: 105vh;
    left: 105vw;
    transform: rotate(180deg);
  }
}
@keyframes floatne {
  0% {
    top: 110vh;
    left: -10vw;
    transform: rotate(0);
  }
  100% {
    top: -5vh;
    left: 105vw;
    transform: rotate(360deg);
  }
}
@keyframes floatnw {
  0% {
    top: 50vh;
    left: 105vw;
    transform: rotate(0);
  }
  100% {
    top: -10vh;
    left: -10vw;
    transform: rotate(720deg);
  }
}
@keyframes floatsw {
  0% {
    top: 105vh;
    left: 75vw;
    transform: rotate(0);
  }
  50% {
    top: -5vh;
    left: 35vw;
    transform: rotate(720deg);
  }
  100% {
    top: -5vh;
    left: 35vw;
    transform: rotate(720deg);
  }
}
@keyframes translateBackground{
  0%{
    background-position-x:0%;
  }
  100%{
    background-position-x:228%;
  }
