.html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 22px;
}
body {
  background-color: #0a0a28;
  background-image: url(../images/2k_stars.jpg);
  margin: 0;
  font-family: 'Share Tech', sans-serif;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0px;
  margin: 0px;
}

.grid-container2 {
  display: subgrid;
  grid-template-columns: auto auto auto;
  padding: 0px;
  margin: 0px;
}

.grid-item {
  grid-column-start: 1;
  /*background-color: rgba(255, 255, 255, 0.5);*/
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 0px;
  font-size: 1.6em;
  text-align: center;
  color: white;
}

.grid-item2 {
  grid-column-start: 1;
  /*background-color: rgba(255, 255, 255, 0.5);*/
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 0px;
  font-size: 1em;
  width: 50vw;
  text-align: center;
  color: white;
}

/* Need Absolute Items here ie. site logo and navigation */

.header-section {
  background: url("") 50% no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-section .header-section-text {
  color: #fefefe;
  text-shadow: 2px 2px 4px #521ad8;
}

.intro {
  background: linear-gradient(to bottom right, #222223, #0b0b51);
}

.marketing {

}

.flex-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  /*border-style: solid; for debug */
  align-items: center;
  justify-content: center;
}
#p1 {
  background-image: url(../images/planet1.png);
  background-repeat: repeat-x;
  background-size: cover;
  box-shadow: 0 0 40px 6px
  rgba(15, 189, 255, 0.75);
  animation: translateBackground 10s infinite linear;
}
#p2 {
  background-image: url(../images/planet2.png);
  background-repeat: repeat-x;
  background-size: cover;
  box-shadow: 0 0 40px 6px
  rgba(15, 189, 40, 0.75);
  animation: translateBackground 35s infinite linear;
}
#p3 {
  background-image: url(../images/planet3.png);
  background-repeat: repeat-x;
  background-size: cover;
  box-shadow: 0 0 40px 6px
  rgba(15, 35, 180, 0.75);
  animation: translateBackground 10s infinite linear;
}

.flex-container .card {
  padding: 8px;
  margin: 20px;
  width: 200px;
  height: 200px;
  line-height: 1;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  text-shadow: 4px 4px 12px #000000, -4px -4px 12px #000000, -4px 4px 12px #000000, 4px -4px 12px #000000;
  flex: 0 0 200px;
  border-radius: 50%;
}

.flex-container .card i {
  font-size: 1.8em;
}
.flex-container .card h3 {
  margin: 5px;
}
.flex-container .card p {
  font-size: 0.8em;
}

.flex-column {
  display: flex;
  flex-wrap: nowrap;
  width: 50vw;
  flex-direction: column;
  border-style: solid;/* for debug */
  align-items: center;
  justify-content: center;
}

.flex-container .flex-item {
  border-style: solid;
  border-color: blue;
  align-items: center;
  flex-wrap: nowrap;
  flex-basis: 40vw;
  justify-content: center;
}

#stretch {
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 40vh;
  flex-basis: 45vw;
  /* background: url("") 50% no-repeat;
  background-size: cover;*/
}

.flex-container .flex-item p {
  font-size: 1em;
  flex-basis: 45vw;
  flex-wrap: wrap;
}
@keyframes translateBackground{
  0%{
    background-position-x:0%;
  }
  100%{
    background-position-x:228%;
  }
